.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.button {
    composes: ml-2 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
}
